<!-- Aqui foi usado o extends do template base para o template 'filho', em seguida
envelopei a div do conteúdo principal com o block -->

{% extends 'global/base.html' %}

{% block content %}
<div class="main-content main-content-list container">
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
</div>
{% endblock content %}